/*------------------------------------------
  SETUP                   
/------------------------------------------*/
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 30px;
}

button {
  border: 1px solid transparent;
  outline: none;
  background-color: #F78FA7;
  padding: 20px;
  border-radius: 4px;
  transition: background-color 150ms ease-out, border 150ms ease-out;
}

button:hover {
  border: 1px solid #F78FA7;
  background-color: #fff;
}